In [150]:
import numpy as np 
import pandas as pd
from datetime import date

import random

import holoviews as hv

import yfinance as yf

In [151]:
stocks = ['DIS', 'NFLX', 'PARA', 'CMCSA', 'ROKU', 'FOXA', 'DISCA', 'WMG', 'CURI', 'LYV', 'T']

In [152]:
begin_date = '2021-01-01'
end_date = date.today()

In [153]:
def generate_stock_returns(stocks, begin_date, end_date):
    
    prices = pd.DataFrame()
    
    for stock in stocks:
        df = yf.download(stocks, begin_date, end_date)
        df1 = df['Adj Close']
        return df1

df1 = generate_stock_returns(stocks, begin_date, end_date)

[*********************100%***********************]  11 of 11 completed

In [154]:
df1

,CMCSA,CURI,DIS,DISCA,FOXA,LYV,NFLX,PARA,ROKU,T,WMG
Date,,,,,,,,,,,
2021-01-04,49.372540,16.420000,177.679993,30.629999,28.467951,70.669998,522.859985,35.790138,317.899994,26.853115,36.196720
2021-01-05,49.077957,16.740000,178.440002,31.520000,29.095413,72.000000,520.799988,36.171509,335.179993,26.688932,36.314541
2021-01-06,49.647484,15.720000,179.119995,34.250000,31.629957,72.620003,500.489990,39.310482,342.950012,27.208847,36.314541
2021-01-07,49.745682,16.450001,178.580002,34.400002,30.572662,73.010002,508.890015,39.232250,379.290009,27.281818,35.921841
2021-01-08,50.609798,16.330000,178.690002,34.630001,29.732754,73.459999,510.399994,39.173584,399.130005,26.938360,35.538963
...,...,...,...,...,...,...,...,...,...,...,...
2022-02-18,46.639999,3.510000,151.360001,29.860001,42.380001,117.440002,391.290009,28.379999,112.459999,23.870001,36.630001
2022-02-22,46.939999,3.440000,148.089996,28.280001,41.820000,117.050003,377.380005,27.850000,121.970001,23.750000,36.090000
2022-02-23,45.130001,3.290000,145.869995,28.209999,40.970001,113.400002,367.459991,28.400000,118.349998,23.510000,35.470001
2022-02-24,46.009998,3.580000,149.399994,27.730000,40.869999,124.389999,390.029999,29.049999,135.100006,23.230000,36.490002
2022-02-25,47.070000,3.610000,149.529999,28.240000,41.770000,126.040001,390.799988,29.559999,139.610001,23.910000,36.509998

In [155]:
returns = df1.pct_change()
returns

,CMCSA,CURI,DIS,DISCA,FOXA,LYV,NFLX,PARA,ROKU,T,WMG
Date,,,,,,,,,,,
2021-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,-0.005967,0.019488,0.004277,0.029057,0.022041,0.018820,-0.003940,0.010656,0.054357,-0.006114,0.003255
2021-01-06,0.011605,-0.060932,0.003811,0.086612,0.087111,0.008611,-0.038998,0.086780,0.023182,0.019481,0.000000
2021-01-07,0.001978,0.046438,-0.003015,0.004380,-0.033427,0.005370,0.016784,-0.001990,0.105963,0.002682,-0.010814
2021-01-08,0.017371,-0.007295,0.000616,0.006686,-0.027473,0.006163,0.002967,-0.001495,0.052308,-0.012589,-0.010659
...,...,...,...,...,...,...,...,...,...,...,...
2022-02-18,-0.002780,-0.058981,-0.010396,-0.000335,-0.012351,0.008242,0.011948,-0.033049,-0.222860,0.004630,0.008813
2022-02-22,0.006432,-0.019943,-0.021604,-0.052914,-0.013214,-0.003321,-0.035549,-0.018675,0.084563,-0.005027,-0.014742
2022-02-23,-0.038560,-0.043605,-0.014991,-0.002475,-0.020325,-0.031183,-0.026287,0.019749,-0.029679,-0.010105,-0.017179
2022-02-24,0.019499,0.088146,0.024200,-0.017015,-0.002441,0.096914,0.061422,0.022887,0.141529,-0.011910,0.028757
2022-02-25,0.023039,0.008380,0.000870,0.018392,0.022021,0.013265,0.001974,0.017556,0.033383,0.029273,0.000548

In [156]:
cov = returns.cov()
cov.head()

,CMCSA,CURI,DIS,DISCA,FOXA,LYV,NFLX,PARA,ROKU,T,WMG
CMCSA,0.000231,0.000138,0.000108,0.000141,0.000095,0.000122,0.000076,0.000101,0.000117,0.000085,0.000024
CURI,0.000138,0.002356,0.000231,0.000372,0.000122,0.000393,0.000380,0.000474,0.000828,0.000050,0.000201
DIS,0.000108,0.000231,0.000264,0.000140,0.000097,0.000196,0.000136,0.000153,0.000154,0.000059,0.000056
DISCA,0.000141,0.000372,0.000140,0.001262,0.000470,0.000162,-0.000015,0.001055,0.000151,0.000190,-0.000022
FOXA,0.000095,0.000122,0.000097,0.000470,0.000482,0.000084,0.000009,0.000493,0.000049,0.000118,0.000008

In [157]:
np.random.seed(10)
weights = np.random.random(len(stocks))
weights /= np.sum(weights)
weights

array([0.1607175 , 0.00432401, 0.13203116, 0.15602576, 0.10387224,
       0.04684012, 0.0412697 , 0.15846924, 0.03523706, 0.01840707,
       0.14280613])

In [158]:
rp = (returns.mean()*252)@weights
rp

0.05031928038638057

In [159]:
port_var = weights@(cov*252)@weights
port_var

0.06384442765757845

In [160]:
rf = 0.0185
sharpe = (rp-rf)/np.sqrt(port_var)
sharpe

0.1259298988598577

In [161]:
len(weights)

11

In [162]:
def portfolio_metrics(weights, index='Trial'):
    '''
    Function which generates performance metrics and will be reported and be used to find optimale weights.
    
    '''
    rp = (returns.mean()*252)@weights
    port_var = weights@(cov*252)@weights
    sharpe = (rp-rf)/np.sqrt(port_var)
    df2 = pd.DataFrame({'Expected Return': rp,
                        'Portfolio Variance': port_var,
                        'Portfolio Std': np.sqrt(port_var),
                        'Sharpe Ratio': sharpe}, index=[index])
    return df2

portfolio_metrics(weights)

       Expected Return  Portfolio Variance  Portfolio Std  Sharpe Ratio
Trial         0.050319            0.063844       0.252675       0.12593

In [ ]:
np.random.seed(42)
portfolios = pd.DataFrame(columns=[*stocks, 'Expected Return', 'Portfolio Variance', 'Portfolio Std', 'Sharpe Ratio'])

for i in range(100000):
    weights = np.random.random(len(stocks))
    weights /= np.sum(weights)
    portfolios.loc[i, stocks] = weights
    metrics = portfolio_metrics(weights,i)
    portfolios.loc[i, ['Expected Return', 'Portfolio Variance', 'Portfolio Std', 'Sharpe Ratio']] = \
    metrics.loc[i, ['Expected Return', 'Portfolio Variance', 'Portfolio Std', 'Sharpe Ratio']]
    
portfolios

In [149]:
optimal_portfolio = portfolios[portfolios['Sharpe Ratio']==portfolios['Sharpe Ratio'].max()].T

In [130]:
optimal_portfolio

                        1334
DIS                 0.037129
NFLX                0.007982
PARA                0.040351
CMCSA                0.16635
ROKU                 0.08809
FOXA                0.189719
DISCA               0.114091
WMG                 0.004838
CURI                0.155841
LYV                 0.023969
T                   0.171641
Expected Return     0.251561
Portfolio Variance    0.0759
Portfolio Std         0.2755
Sharpe Ratio        0.845958

In [131]:
opt_weights = portfolios[portfolios['Sharpe Ratio']==portfolios['Sharpe Ratio'].max()].to_numpy()[0][0:11]

In [132]:
len(opt_weights)

11

In [133]:
def optimal_portfolio_weights(weights):
    df = pd.DataFrame({'Stocks': stocks,
                       'Weights': weights})
    df.Weights = df.Weights.map(lambda x: '{:.2%}'.format(x))
    return df

optimal_portfolio_weights(opt_weights)

   Stocks Weights
0     DIS   3.71%
1    NFLX   0.80%
2    PARA   4.04%
3   CMCSA  16.63%
4    ROKU   8.81%
5    FOXA  18.97%
6   DISCA  11.41%
7     WMG   0.48%
8    CURI  15.58%
9     LYV   2.40%
10      T  17.16%